In [1]:
from arcgis import GIS
gis = GIS()
# create an anonymous connection to ArcGIS Online and get a public item
item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
flayer = item.layers[0]

# Specify a SQL query and get a sub-set of the original data as a DataFrame
df = flayer.query(where="AGE_45_54 < 1500").sdf

# Visualize the top 5 records
df.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,PLACEFIPS,POP2010,POPULATION,POP_CLASS,RENTER_OCC,SHAPE,ST,STFIPS,VACANT,WHITE
0,1413,1381,1106,2138,1815,1411,979,1557,525,307,...,0468080,14287,14980,6,1074,"{""x"": -12768343.256613126, ""y"": 3842463.708135...",AZ,04,261,9196
1,727,738,677,1380,1185,1333,1087,740,661,444,...,0602042,9932,10239,6,2056,"{""x"": -13613950.337588644, ""y"": 4931686.754090...",CA,06,267,8273
2,593,511,2323,2767,746,127,34,1229,4,2,...,0610561,10616,11869,6,2558,"{""x"": -13066582.116550362, ""y"": 3925650.676616...",CA,06,296,7530
3,888,988,900,1729,1479,1443,959,766,514,280,...,0613560,10866,11195,6,761,"{""x"": -13123874.446103057, ""y"": 4044249.710416...",CA,06,86,5898
4,1086,1228,1013,1822,1759,1478,1112,925,687,477,...,0614974,12823,13009,6,1763,"{""x"": -13151212.145276317, ""y"": 4027601.332347...",CA,06,88,6930

In [ ]:
# in terminal
#jupyter nbextension list
# jupyter nbextension enable arcgis --py --sys-prefix
# jupyter nbextension enable --py --sys-prefix widgetsnbextension
# jupyter nbextension enable --py --sys-prefix arcgis

In [2]:
m1 = GIS().map('United States')
m1

MapView(layout=Layout(height='400px', width='100%'))

In [3]:
df.spatial.plot(map_widget= m1)

True

In [ ]:
from arcgis.gis import GIS
my_gis = GIS()
my_gis.map()

In [ ]:
import sys
import arcgis
import widgetsnbextension
import ipywidgets
print("python version: ",sys.version)
print("arcgis API version: ",arcgis.__version__)
print("widgetnbextension: ",widgetsnbextension.__version__)
print("ipywidgets version: ",ipywidgets.__version__)

In [ ]:
m1.zoom = 4
m1.center = [39,-98]

In [ ]:
# spatial join testing -----------------------------------
from arcgis.gis import GIS
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor
g2 = GIS("https://pythonapi.playground.esri.com/portal", "arcgis_python", "amazing_arcgis_123")